
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/HomeComponent" style="color: white;">Registred User's</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>       -->
      <div class="d-flex">        
        <a href="/HomeComponent"><button class="btn btn-secondary" type="submit" style="background-color: white; color:black">Home</button></a>
      </div>
    </div>
</nav>

<section *ngIf="isedited">
  <div class="square_box box_three">
    <div class="square_box box_four">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
              <i class="start-icon far fa-check-circle faa-tada animated"></i>
              <strong class="font__weight-semibold">Well done!</strong> You successfully edited the data.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isdeleted">

  <div class="square_box box_three">
    <div class="square_box box_four">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
              <i class="start-icon far fa-times-circle faa-pulse animated"></i>
              <strong class="font__weight-semibold">User's data deleted successfully!</strong> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<table class="table table-striped">
<thead>
  <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>phone</th>
      <th>Email Id</th>
      <th>Address</th>
      <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let user of alluser">
      <td>{{user.id}}</td>
      <td>{{user.firstname}} {{user.middlename}} {{user.lastname}} </td>
      <td>{{user.age}}</td>
      <td>{{user.countrycode}} {{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}} {{user.city}} {{user.state}}- {{user.pincode}}</td>
      <td>
        <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
          <input type="button" value="Edit" routerLink="/EditUserComponent" (click)="editprevUser(user)"   class="btn btn-success me-2"/>
          <input type="button" value="Delete" (click)="DeleteUser(user)" class="btn btn-danger"/>
          

      </td>
  </tr>
</tbody>
</table>


<!-- new form -->



<!-- end form -->

<!-- Button trigger modal -->



<!-- Button trigger modal -->


<!-- Modal -->      

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="row g-3" [formGroup]="formValue">
              <div class="col-md-6">
                  <label for="inputName" class="form-label">First Name</label>
                  <input type="text" formControlName="firstname" class="form-control" id="inputName"> -->
                  <!--<div class="form-text text-danger" *ngIf="FirstName.errors?.['required']
                  && (FirstName.touched || FirstName.dirty)">
                  First Name is Required.
                </div>-->
                <!-- </div>
                <div class="col-md-6">
                  <label for="inputName" class="form-label">Middle Name</label>
                  <input type="text" formControlName="middlename" class="form-control" id="inputName"> -->
                  <!-- <div class="form-text text-danger" *ngIf="formValue.get('middlename').errors.['required'],">
                  First Name is Required.
                </div> -->
                <!-- </div>
                <div class="col-md-6">
                  <label for="inputName" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastname" class="form-control" id="inputName">
                </div>
                <div class="col-md-6">
                  <label for="inputName" class="form-label">Age</label>
                  <input type="number" formControlName="age" class="form-control" id="inputName"> -->
                  <!-- <span *ngIf="age.invalid"></span> -->
                <!-- </div>
           
                <div class="col-6">
                 <label for="inputcountrycode" class="form-label">Country Code  </label>
                 <select type="text" class="form-control" id="inputName" formControlName="countrycode"> -->
                 <!--<select name="countrycode" id="inputName" >-->
                  
                  <!-- <option *ngFor="let a of countryCode">{{a.name}} ({{a.dial_code}})</option>
                 
                </select>             
                </div>

                 -->
                <!-- <div class="col-md-6">
                  <label for="inputName" class="form-label">Phone</label>
                  <input type="number" formControlName="phone" class="form-control" id="inputName">
                </div> -->

                
                
              <!-- <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Enter your Email">
              </div>
              
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" formControlName="address" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="col-12"> -->
                <!-- <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputAddress2" formControlName="city" placeholder="Enter your city name">
              </div>  -->
              <!--<div class="col-12">
                <label for="inpustate" class="form-label">State</label>
                <input type="text" class="form-control" id="inputAddress2" formControlName="state" placeholder="Enter your state name">
              </div>-->
              
              <!-- <div class="col-12">
                <label for="inputstate" class="form-label">State  </label>
                <select type="text" class="form-control" formControlName="state" id="inputName" >
                  <option *ngFor="let s of state">{{s}}</option>
                  </select>      -->
                
<!-- </div>
              <div class="col-12">
                <label for="inputCity" class="form-label">PinCode</label>
                <input type="number" class="form-control" id="inputAddress2" formControlName="pincode" placeholder="Enter your pincode">
              </div>
          </form>
            
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button> -->
        <!-- <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="AddUser()" data-bs-dismiss="modal" >Register</button>          -->
          <!-- <button  type="button" class="btn btn-secondary" (click)="UpdateUser()"  data-bs-dismiss="modal" >Update</button>

      </div>
    </div>
  </div>
</div>
 -->

